$breakpoints: (
	'xs-phone': 320px,
	'phone': 576px,
	'tablet': 768px,
	'desktop': 992px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import "bootstrap-custom";

@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

@import 'layout/header';
@import 'layout/common';
@import 'layout/footer';

@import 'vendors/fonts';
@import 'variables';
@import 'modals';
@import 'vue-form';


#wrapper {
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

body {
	min-width: $base-min-width;
}

#biography-long-content {
	/* Preserve line breaks in user-supplied full bio text */
	white-space: pre-line;
}

.video-carousel {
	$video-aspect-ratio: 56%;
	$carousel-nav-height: 50px;
	$carousel-nav-button-size: 20px;

	&.carousel {
		box-shadow: none;
		padding-top: calc(#{$video-aspect-ratio} + #{$carousel-nav-height});
		height: auto;
	}

	.jumbotron {
		padding: 0;
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
	}

	.jumbotron__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.carousel__left, .carousel__right {
		position: absolute;
		top: calc(100% - 28px);
		width: $carousel-nav-button-size;
		height: $carousel-nav-button-size;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 1;
		@include animate (opacity);

		&:hover,
		&:focus {
			opacity: 0.5;
		}

		button {
			border: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			border-radius: 0;
			background-image: url(../images/prev.svg);
			vertical-align: top;
		}

		.btn__content {
			display: none;
		}
	}

	.carousel__left {
		background-image: url(../images/prev.svg);
	}

	.carousel__right {
		background-image: url(../images/next.svg);
	}

	.index-indicator {
		position: absolute;
		left: 50%;
		transform: translate-x(-50%);
		top: calc(100% - 34px);
		font-size: 12px;
		color: $font-color-light;
		line-height: 18px;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - #{$carousel-nav-height});
		border: 0;
	}
}
