@import 'variables';

body {
    background-color: $color-background-light;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

a {
    color: $color-link;
}

h1 {
    font-family: $font-family;
    font-size: 32px;
    font-weight: bold;
    line-height: 37px;
    color: $font-color-primary;
}

h2 {
    font-family: $font-family;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: $font-color-primary;
}

h3 {
    font-family: $font-family;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: $font-color-primary;
}

.btn-primary {
    background-color: $color-cta;
}


@import 'home';
@import 'venue-profile';


