$font-family: 'Quicksand', sans-serif;
$font-color-primary: #1D1D1D;
$font-color-secondary: #121212;
$font-color-light: #999;

$color-cta: #D600E5;
$color-cta-dark: #9013FE;

$color-background-light: #FAFAFA;
$color-background-med: #D8D8D8;
$color-background-dark: #979797;

$color-link: $color-cta-dark;
