{% extends "site_base.html" %}

{% block head_title %}Welcome Booking Agent Person!!!{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-8">

            <h1>Booking Agent Dashboard</h1>

            <div>
                <ul>
                    <li>Applications (include messages on app cards)</li>
                    <li>Events</li>
                    <li>Calendar (simple visual representation of events & slots)</li>
                    <li>Recommendations</li>
                    <li>ONE tooltip tutorial per visit on the first few visits</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li><a href="/v/something">Profile</a></li>
                    <li><a href="/v/editor">Edit Profile</a></li>
                    <li><a href="/v/event_editor">Event Editor</a></li>
                    <li><a href="{% url 'venue_settings' %}">Settings</a></li>
                    <li><a href="{% url 'venue_embeds' %}">Embeds</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>



{% endblock body %}
