{% extends "site_base.html" %}

{% block head_title %}Venue Editor{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">

            <h1>Venue Editor</h1>

            <div>
                <ul>
                    <li>Email</li>
                    <li>First/last name</li>
                    <li>Phone #</li>
                    <li>Title (booking manager/club owner)</li>
                    <li>Venue Name</li>
                    <li>Venue Location</li>
                    <li>Venue website</li>
                    <li>Venue phone #</li>
                    <li>Venue instagram</li>
                    <li>Venue Facebook</li>
                    <li>Venue Yelp</li>
                    <li>Venue Google</li>
                    <li>Venue photos</li>
                    <li>Venue video</li>
                    <li>Venue capacity</li>
                    <li>Venue bio</li>
                    <li>Venue genre</li>
                    <li>Venue backline</li>
                    <li>Venue-specific questions (ie why do you want to play here?)</li>
                    <li>Create an event (optional)</li>
                </ul>
            </div>

        </div>
    </div>
</div>



{% endblock body %}
