{% extends "site_base.html" %}

{% block head_title %}Venue Embeds!!!{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">

            <h1>Embed Yo'self!!1!</h1>

            <div>
                <label for="link-embed">Simple link</label><br />
                <textarea id="link-embed" style="width:300px;height:100px;"><a href="https://opsulive.io/v/venue1">Apply on Opus!!!1!≤/a></textarea>
            </div>

            <div>
                <p>Yup, we get it, this is hard. <a href="mailto:help@opuslive.io">Need a hand with this stuff?</a></p>
            </div>

        </div>
    </div>
</div>
{% endblock body %}
