{% extends "site_base2.html" %}

{% block head_title %}Event Editor{% endblock %}

{% block main %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-8">

            <h1>Event Editor</h1>

            <div>
                <ul>
                    <li>Title</li>
                    <li>Date &amp; time</li>
                    <li>Venue</li>
                    <!-- Figure out a way to get rid of bullet for this one. -->
                    <li>
                        <ul>
                            <li>Should default to the BA's venue</li>
                            <li>If BA is 3rd party, prompt to select existing venue</li>
                            <li>If no venue exists, prompt to create new venue</li>
                            <li>The above is an important flow, but maybe this doesn't make MVP</li>
                        </ul>
                    </li>
                    <li>Description</li>
                    <li>
                        <ul>
                            <li>Rehearsals</li>
                            <li>Sound checks</li>
                            <li>Dress code</li>
                        </ul>
                    </li>
                    <li>Slots</li>
                    <li>
                        <ul>
                            <li>Time &amp; Duration</li>
                            <li>Musician</li>
                            <li><a href="https://docs.google.com/spreadsheets/d/10PR62CNFu8JEdABUQnZka_4fgogEk-3hkS8bMGOeeWw/edit#gid=209089687">Comp Type(s)</a></li>
                        </ul>
                    </li>
                    <li>Genres (defaulted to venue's genres)</li>
                    <li>Actual ticket sales, draw (to be collected after event)</li>
                </ul>
            </div>

            <div class="row">
                <a href="/v/dashboard">
                    <button type="button" class="btn btn-primary">Save!</button>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock main %}
