{% extends "site_base.html" %}

{% block head_title %}Event Editor{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">

            <h1>Event Editor</h1>

            <div>
                <ul>
                    <li>Title</li>
                    <li>Date &amp; time</li>
                    <li>Venue (If venue account, event should autopopulate w/ current venue)</li>
                    <li>Description</li>
                    <li>Comp Type</li>
                    <li>Ticket sales required?</li>
                    <li>Event Type: (show where musician brings audience, freelance service, show where venue has captive audience, pit orchestra, )</li>
                </ul>
            </div>

        </div>
    </div>
</div>



{% endblock body %}
