{% extends "site_base.html" %}

{% block head_title %}Booking Agent Landing!!!{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">

            <h1>Sup Holmes!!1! You've landed!!</h1>

            <h3>Passwords are done. You're all set.</h3>

            <div>
                <a href="{% url 'venue_welcome' %}">Continue on to Onboarding and see what's all about!!!!</a>
            </div>

        </div>
    </div>
</div>



{% endblock body %}
