{% extends "site_base.html" %}

{% block head_title %}Venue Profile{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">

            <h1>Venue Profile</h1>

            <div class="container">
                <div class="row">
                    <h2>Venue Bio</h2>
                </div>

                <div class="row">
                    <a href="/v/editor">EDIT ME</a>
                </div>

                <div class="row">
                    <div>We're cool</div>
                    <div>Is this your venue? Claim it!!!1!</div>
                </div>

                <div class="row">
                    <a href="/v/dates?venue=1">
                        <button type="button" class="btn btn-primary">Apply to play!</button>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock body %}
