{% extends "site_base.html" %}

{% block head_title %}Welcome Booking Agent Guy!!!{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">

            <h1>Booking Agent Settings</h1>

            <div>
                <ul>
                    <li>Name</li>
                    <li>Phone</li>
                    <li>Email</li>
                    <li>Change PW</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>Contact Settings</li>
                </ul>
            </div>

        </div>
    </div>
</div>



{% endblock body %}
