{% extends "site_base2.html" %}

{% block head_title %}Welcome Booking Agent Guy!!!{% endblock %}

{% block main %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-8">

            <h1>Booking Agent Settings</h1>

            <div>
                <ul>
                    <li>Name</li>
                    <li>Phone</li>
                    <li>Email</li>
                    <li>Change PW</li>
                    <li>Contact Settings</li>
                </ul>
            </div>

            <div>
                <h3><a href="mailto:info@opuslive.io">Haaaalllppppp!!</a></h3>
            </div>

        </div>
    </div>
</div>
{% endblock main %}
