{% extends "site_base.html" %}

{% block head_title %}Welcome Booking Agent Person!!!{% endblock %}

{% block body %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-8">

            <h1>Sup Booking Agent Person!!1!</h1>

            <h3>Here's a neato welcome video.</h3>

            <div>
                <ul>
                    <li>Video could just be a simple screen cast. (V short, 30-60s, autoplay)</li>
                    <li>Restate value props for booking agents.</li>
                    <li>Maybe set a password. (Magic link is less convenient than it seems) ....maybe later?</li>
                </ul>
            </div>

            <div>
                <a href="{% url 'venue_dashboard' %}">Continue on to your Dashboard and get some shit done!!!!</a>
            </div>

        </div>
    </div>
</div>



{% endblock body %}
