.btn-primary{
	font-family: $display-font-family;
	text-transform: uppercase;
	display: block;
	vertical-align: middle;
	padding: 13px 15px;
	margin: 0 auto 41px;
	@include font(16px,18px);
	font-weight: 500;
	@include media-breakpoint-up(md) {
		width: 260px;
	}
	letter-spacing: 1px;
}
.btn-prev, .btn-next {
  z-index: 1000;
}
.video-holder {
	padding-top: 60%;
	position: relative;
	overflow: hidden;
	background-size: cover;
	&:after{
		content:'';
		@include position;
		background-color: $black;
		opacity: .4;
		width: 100%;
		// @include media-breakpoint-up(md) {
		// 	width: 50%;
		// }
	}
	&:before {
		content:'';
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $color-primary-main;
		mix-blend-mode: multiply;
	}
}
.win-height {
	padding: 0;
	height: calc(80vh - 64px);
	text-align: center;
}
.description {
	position: absolute;
	padding: 15px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 10;
	color: $white;
	width: 100%;
	font-weight: 300;
	@include font(20px,24px);

	// @include media('<=460px') {
	// 	width: 100%;
	// }
	// @include media-breakpoint-up(xs) {
	// 	width: 70%;
	// }
	@include media-breakpoint-up(sm) {
		// width: 375px;
		padding: 21px;
		// margin-left: 10vh;
	}
	@include media-breakpoint-up(xl) {
		padding: 28px;
		@include font(24px, 30px);
		span {
			max-width: 550px;
		}
	}
	span{
		// display: block;
	}
	.btn-primary {
		margin: 1.1875rem auto 0 auto;
		@include media-breakpoint-down(sm) {
			width: 60%;
		}
		@include media-breakpoint-up(xl) {
			margin-top: 2.5rem;
		}
	}


}

@mixin transition($property, $time, $method) {
  -webkit-transition: $property $time $method;
  -moz-transition: $property $time $method;
  -ms-transition: $property $time $method;
  -o-transition: $property $time $method;
  transition: $property $time $method;
}

.tall-tabs,
.short-tabs{
	@include font(14px,21px);
	font-weight: 700;
	text-align: center;
	.row{
		margin-left: -23px;
		margin-right: -23px;
	}
	.tab-link{
		display: block;
		background-color: $color-secondary-main;
		font-family: $display-font-family;
		color: $white;
		text-decoration: none;
		height: 240px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size:20px;
		@include media-breakpoint-up(xl) {
		}
		&:hover {
		  @include transition(background-color, .15s, ease-in-out);
		  background-color: $color-secondary-dark;
		}
		span{
			display: block;
			@include font(40px,60px);
			@include media-breakpoint-up(xl) {
				@include font(48px,60px);
			}
		}
	}
}
.short-tabs{
	.tab-link{
		font-weight: 300;
		height: 138px;
		@include font(24px,20px);
		@include media-breakpoint-down(sm) {
			@include font(12px,24px);
		}
		@include media-breakpoint-up(xl) {
			@include font(20px,24px);
		}
		&.active{
			background: $white;
			color: $mine-shaft;
		}
		span{
			text-transform: capitalize;
			font-weight:100;
			@include font(24px,28px);
		}
	}
}

.intro{
	.container-fluid{
		padding-top: 42px;
		padding-bottom: 41px;
		@include media-breakpoint-up(md) {
			padding-top: 52px;
			padding-bottom: 41px;
		}
		&:after{
			content: '';
			display: block;
			border-bottom: 1px solid $silver;
		}
	}
	.row{
		position: relative;
		margin-bottom: 41px;
	}
	.slick-why {
		max-width: 768px;
		margin: 0 auto 41px;
	}
	p{
		margin: 0;
	}
	.icon-holder{
		display: block;
		@include box(60px);
		border: 3px solid $mine-shaft;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 40px;
	}
	.btn-prev,
	.btn-next{
		position: absolute;
		top:6%;
	}
	.btn-prev{
		left: 15px;
	}
	.btn-next{
		right: 15px;
	}
}
.steps{
	.container{
		padding-bottom: 41px;
		&:after{
			content: '';
			display: block;
			border-bottom: 1px solid $silver;
		}
	}
	.img-holder{
		position: relative;
		text-align: center;
		margin-bottom: 19px;
		@include media-breakpoint-up(md) {
			text-align: left;
			margin: 0;
		}
		.laptop{
			img{
				@include size(288px,178px);
				@include media-breakpoint-up(md) {
					@include size(365px,225px);
				}
			}
		}
	}
	.img-placeholder{
		position: absolute;
		top:18px;
		left:50%;
		transform: translateX(-50%);
		@include media-breakpoint-up(md) {
			top:23px;
			left:44px;
			transform: none;
		}
		img{
			@include size(219px,138px);
			@include media-breakpoint-up(md) {
				@include size(277px,173px);
			}
		}
	}
	.row{
		margin-bottom: 41px;
	}
}
.steps-list{
	@extend %listreset;
	counter-reset: item;
	@include media-breakpoint-up(md) {
		padding-left: 29px;
	}
	li{
		counter-increment: item;
		margin-bottom: 21px;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content: counter(item)'.';
			display: inline-block;
			vertical-align: middle;
			@include font(20px,30px);
			font-weight: 500;
			margin-right: 7px;
			margin-bottom: 9px;
		}
	}
	strong{
		display: inline-block;
		vertical-align: middle;
		@include font(20px,30px);
		font-weight: 500;
		margin-bottom: 9px;
	}
	span{
		display: block;
	}
}

.testimonials{
	.container{
		padding-bottom: 41px;
		&:after{
			content: '';
			display: block;
			border-bottom: 1px solid $silver;
		}
	}
	.row{
		margin-bottom: 38px;
	}
	blockquote{
		@include font(24px,36px);
		margin: 0;
	}
	.author{
		@include font(12px,18px);
		font-style: normal;
	}
	img{
		display: block;
		margin: 0 auto 9px;
		width: 100%;
		height: auto;
		@include media-breakpoint-up(md) {
			margin: 0 0 9px;
		}
	}
}
.form-section{
	span{
		margin-bottom: 38px;
	}
	.subscribe{
		width: 100%;
		margin: 0 auto;
		@include media-breakpoint-up(sm) {
			width: 65%;
		}
	}
}
#contact-us.standalone {
	margin-top:36px;
	button {
		width:60%;
		margin-bottom: 0px;
	}
}
form{
	label{
		color: $black;
		@include font(12px,18px);
		text-transform: uppercase;
		font-weight: 500;
	}
	textarea {
		border: 1px solid rgba($mine-shaft,0.05) !important;
		padding: 8px !important;
		height: 132px;
	}
	.form-control{
		border-bottom: 1px solid rgba($mine-shaft,0.35);
		@include font(20px,30px);
		font-weight: 500;
	}
	.form-row {
		margin-left: -12px;
		margin-right: -12px;
		>.col , >[class*="col-"]{
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	#mce-responses {
		padding:12px 18px;
		text-align:center;
		font-weight: bold;
		#mce-error-response {
			color:red;
		}
		#mce-success-response {
			color: $robins-egg-blue;
		}
	}
	.btn-primary{
		width: 100%;
		opacity: 0.5;
	}
}
.mission{
	background: linear-gradient(135deg, $color-primary-dark 0%, $color-secondary-dark 100%);
	color: $white;
	text-align: center;
	.container{
		padding: 85px 0 85px;
		@include media-breakpoint-down(sm) {
			padding: 85px 18px;
		}
	}
	p {
		font-size: 22px;
		line-height:28px;
	}
}
.visual{
	background: $gallery;
	.container{
		padding-top: 42px;
		padding-bottom: 40px;
		@include media-breakpoint-up(lg) {
			max-width: 980px;
		}
	}
	span{
		margin-bottom: 42px;
	}
	img{
		display: block;
		height: auto;
		margin: 0 auto;
		width:100%;

		@include media-breakpoint-down(sm) {
			width: 75%;
			margin: 0 auto;
		}
		@include media-breakpoint-up(md) {
			@include size(200px);
		}
		@include media-breakpoint-up(lg) {
			@include size(200px);
		}
	}
	.slick-shows {
		@include media-breakpoint-down(sm) {
			padding: 0 40px;
		}
	}
	.row{
		position: relative;
		@include media-breakpoint-down(sm) {
			margin-left: -7px;
			margin-right: -7px;
		}
	}
	.col-6{
		@include media-breakpoint-down(sm) {
			padding-left: 7px;
			padding-right: 7px;
		}
	}
	.btn-prev,
	.btn-next{
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		z-index: 999;
		img{
			@include size(15px,27px);
		}
	}
	.btn-prev{
		left: -32px;
		@include media-breakpoint-up(md) {
			left: -32px;
		}
		@include media-breakpoint-down(sm) {
			left: 24px;
		}
	}
	.btn-next{
		right: -27px;
		@include media-breakpoint-up(md)  {
			right: -23px;
		}
		@include media-breakpoint-down(sm) {
			right: 27px;
		}
	}
}
.privacy {
	p{
		white-space: pre-wrap;
		width: 60%;
	    margin: 20px auto;
	}
}
