#header{
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
	position: relative;
	z-index: 9999999;
	.container {
		@include media-breakpoint-up(xl) {
			width: 80%;
		    max-width: none;
		}
	}
	.navbar{
		position: relative;
	}
	.navbar-nav {
		@include font(12px,21px);
		.nav-item{
			@include media-breakpoint-up(md) {
				padding-left:35px;
			}
			&.active{
				.nav-link{
					border-bottom: 2px solid $mine-shaft;
				}
			}
		}
		.nav-link{
			border-bottom: 2px solid transparent;
			font-family: $display-font-family;
			font-weight: 500;
			padding: 5px 15px;
			@include media-breakpoint-up(md) {
				padding: 0;
			}
		    @include media-breakpoint-up(xl) {
		        @include font(16px,24px);
		    }
			&:hover{
				border-bottom: 2px solid $color-primary-main;
				color: $color-primary-main;
			}
		}
	}
	.navbar-collapse{
		flex-grow: 0;
		position: absolute;
		top:100%;
		left:0;
		width: 100%;
		z-index: 5;
		background: $white;
		@include media-breakpoint-up(md) {
			position: static;
			width: auto;
		}
	}

	.navbar-brand{
		margin: 0 auto;
		img{
			margin-left: -21px;
		}
		@include media-breakpoint-up(md) {
			margin: 0;
		}
	}
	.navbar-toggler{
		border: none;
		@include font(0,1);
	}
	.navbar-toggler-icon{
		@include size(20px,16px);
	}
}
