h1{
	font-family: $display-font-family;
	font-weight: 500;
	line-height: 40px;
	margin-bottom: 1.1875rem;
	@include media-breakpoint-up(sm) {
		@include font(48px,48px);
	}
	@include media-breakpoint-up(xl) {
		font-size: 60px;
		line-height: 74px;
	}
}
h2{
	font-family: $display-font-family;
	text-align: center;
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 2.6875rem;
	// @include media-breakpoint-up(xl) {
	// 	font-size: 52px;
	// 	font-weight:200;
	// }
}
h3{
	font-family: $display-font-family;
	font-weight: 500;
	line-height: 30px;
}
.mission,
.visual{
	h2{
		margin-bottom: 1.3125rem;
	}
}
