{% extends "account/login.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block body %}
<div class="container">
    <div class="row justify-content-around mt-5 mb-5">
        <div class="col-md-4">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <legend>{% trans "Log in" %}</legend>
                {% csrf_token %}
                {% bootstrap_form form %}
                <p class="signup-social">
                    <i class="fab fa-facebook"></i>&nbsp;<a href="{% url "social:begin" "facebook" %}">Facebook</a>&nbsp;&nbsp;
                    <i class="fab fa-instagram"></i>&nbsp;<a href="{% url "social:begin" "instagram" %}">Instagram</a>
                    <i class="fab fa-spotify"></i>&nbsp;<a href="{% url "social:begin" "spotify" %}">Spotify</a>
                </p>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>
                <div class="mt-4">
                    Not a member yet? <a href="{% url 'account_signup' %}">Sign up!</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
