{% extends "site_base.html" %}

{% block head_title %}Musician Profile{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">

    <h1>Musician Application Page</h1>

    <div>

        <ul>
            <li>Email</li>
            <li>Artist name</li>
            <li>Hometown</li>
            <li>On tour? </li>
            <li>Genre/Subgenre</li>
            <li>Instrument</li>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>Twitter (?)</li>
            <li>Website</li>
            <li>1-3 videos (YT, Vimeo) </li>
            <li>1-3 audio (SC, Bandcamp, Spotify)</li>
            <li>1-6 photos</li>
            <li>Past shows/venues</li>
            <li>Short bio</li>
        </ul>

        <a href="/m/dashboard">
            <button type="button" class="btn btn-primary">Apply!</button>
        </a>
    </div>

</div>
{% endblock body %}
