{% extends "site_base2.html" %}
{% load staticfiles %}
{% load repeatedblocks %}
{% load cloudinary %}
{% load booking_extras %}

{% block head_title %}Venues on Opus{% endblock %}

{% block og %}
  {{ block.super }}
  <meta property="og:description" content="{{ musician.bio_short|default_if_none:"" }}" />
  <script src="{% static 'js/jquery.profile.js' %}" defer></script>
{% endblock og %}

{% block main %}

<div id="coming-soon">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-8 content-wrapper justify-content-center">
            <div class="row justify-content-center">
                <div class="gif-placeholder">GIF</div>
                <div class="content-column">
                    <div class="row content-1">Sit tight, we’re signing up venues and getting their profiles ready.</div>
                    <div class="row content-2">Soon, you’ll be able to apply to venues directly from Opus.</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
