{% extends "site_base.html" %}

{% block head_title %}Musician Dashboard{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1>Musician Dashboard</h1>

    <div class="container">
        <div class="row">
            Here's your applications....
        </div>

        <div class="row">
            Here's recommended gigs...
        </div>

        <div class="row">
            <a href="/m/editor">
                <button type="button" class="btn btn-primary">Edit your profile!</button>
            </a>
        </div>
    </div>
</div>
{% endblock body %}
