{% extends "site_base.html" %}

{% block head_title %}Musician Editor{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1>Musician Editor</h1>

    <div class="container">
        <div class="row">
            Here's your stuff....fix it up!!1!
        </div>

        <div class="row">
            <ul>
                <li>Email</li>
                <li>Artist name</li>
                <li>Hometown</li>
                <li>On tour? </li>
                <li>Genre/Subgenre</li>
                <li>Instrument</li>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Twitter (?)</li>
                <li>Website</li>
                <li>1-3 videos (YT, Vimeo) </li>
                <li>1-3 audio (SC, Bandcamp, Spotify)</li>
                <li>1-6 photos</li>
                <li>Past shows/venues</li>
                <li>Short bio</li>
            </ul>
        </div>

        <div class="row">
            {% if apptype.0 %}
                <a href="{% url 'musician_app_venue_questions' %}">
                    <button type="button" class="btn btn-primary">Save and answer some moar Qs</button>
                </a>
            {% else %}
                <a href="{% url 'musician_dash' %}">
                    <button type="button" class="btn btn-primary">Save</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
