{% extends "site_base.html" %}
{% load bootstrap3 %}
{% load cloudinary %}

{% block head_title %}Musician Editor{% endblock %}

{% block assets %}
    {{ block.super }}

    <style>
        label[for="id_on_tour"] {
            display:inline;
        }
    </style>

{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1>Musician Editor</h1>

    <div class="container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if musician.slug %}
            <div class="row">
                <a href="{% url 'musician_profile' musician.slug %}">View your Profile</a>
            </div>
            {% endif %}

            {% if musician.image %}
            {% cloudinary musician.image.name width=150 height=150 crop="thumb" gravity="face" class="rounded-circle" %}
            {% endif %}

            {% if musician.image_hero %}
            {% cloudinary musician.image_hero.name width=992 height=324 crop="thumb" gravity="face" %}
            {% endif %}


            {% bootstrap_form form %}

            <div class="row">
                {% if apptype %}
                    <button type="submit" class="btn btn-primary">Save and answer some moar Qs</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Save</button>
                {% endif %}
            </div>

        </form>

    </div>
</div>
{% endblock body %}
