<div class="slider-section">
    <div class="category edit-box">
        <h2 class="subheading">{{ shows_word }}</h2>
        <a href="#" class="edit"><img src="{% static 'images/edit.png' %}" alt=""></a>
    </div>

    <div class="table-responsive">
        <table class="table table-sm">
            <!-- <caption align="top">Upcoming Shows</caption> -->
            <thead>
                <th colspan="2">Upcoming {{ shows_word }}</th>
                <th colspan="2" class="booked">Booked on Opus <img src="{% static 'images/bookmark-copy.png' %}" alt=""></th>
            </thead>
            <tbody>
                <tr>
                    <td>4/6/18</td>
                    <td class="show-name">Crawford Auditorium</td>
                    <td>Grove City, PA</td>
                    <td class="booked"></td>
                </tr>
                <tr>
                    <td>4/7/18</td>
                    <td class="show-name">Baby's All Right</td>
                    <td>New York, NY</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4/8/18</td>
                    <td class="show-name">Union Stage</td>
                    <td>Washington, DC</td>
                    <td class="booked"></td>
                </tr>
                <tr>
                    <td>4/9/18</td>
                    <td class="show-name">Sonia</td>
                    <td>Cambridge, MA</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4/10/18</td>
                    <td class="show-name">World Cafe Live</td>
                    <td>Philadelphia, PA</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="#" class="bold-text heading-secondary table-link">Show more</a>

    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <th colspan="2">Past {{ shows_word }}</th>
                <th colspan="2" class="booked">Booked on Opus <img src="images/bookmark-copy.png" alt=""></th>
            </thead>
            <tbody>
                <tr>
                    <td>3/8/18</td>
                    <td class="show-name">Troubadour</td>
                    <td>Los Angeles, CA</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9/16/17</td>
                    <td class="show-name">Open Arts &amp; Music Festival</td>
                    <td>Glendale, CA</td>
                    <td class="booked"></td>
                </tr>
                <tr>
                    <td>8/3/17</td>
                    <td class="show-name">The Irenic</td>
                    <td>San Diege, CA</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8/2/17</td>
                    <td class="show-name">The Rebel Lounge</td>
                    <td>Phoenix, AZ</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8/1/17</td>
                    <td class="show-name">Launchpad</td>
                    <td>Albuquerque, NM</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="#" class="bold-text heading-secondary table-link">Show more</a>
</div>
