{% extends "site_base2.html" %}
{% load staticfiles %}
{% load repeatedblocks %}
{% load cloudinary %}
{% load booking_extras %}

{% block head_title %}{{ musician.stage_name }}{% endblock %}

{% block og %}
  {{ block.super }}
  <meta property="og:description" content="Artist: Awesome artist that puts on awesome shows" />
  <script src="{% static 'js/jquery.profile.js' %}" defer></script>
{% endblock og %}

{% block main %}

<user-edit-form
    id="user-edit-form"
    musicianId="{{ musician.pk|default_if_none:"" }}"
    stage_name="{{ musician.stage_name }}"
    image="{{ musician.image_url }}"
    facebook="{{ musician.facebook|default_if_none:"" }}"
    instagram="{{ musician.instagram|default_if_none:"" }}"
    spotify="{{ musician.spotify|default_if_none:"" }}"
    hometown="{{ musician.hometown|default_if_none:"" }}"
    genres="{{ musician.genres|default_if_none:"" }}"
    state="{{ musician.state|default_if_none:""}}"
    website="{{ musician.website|default_if_none:"" }}"
    bio_short="{{ musician.bio_short|default_if_none:"" }}"
></user-edit-form>
<div id="video-edit-form"></div>
<div id="audio-edit-form"></div>
<div id="photo-edit-form"></div>
<div id="edit-bio-form"
    musicianId="{{ musician.pk|default_if_none:"" }}"
    bio="{{ musician.bio|default_if_none:"" }}"
></div>
<div id="send-artist-message-form"
    musicianId="{{ musician.pk }}"
></div>
<div id="photo-modal"></div>

<section class="artist-placeholder">
    <div id="cover-photo-wrapper">
        <div id="cover-photo" style="background-image: url('{{ musician.image_hero.image.url }}');"></div>
    </div>
    <div class="container">
        <div class="photo-buttons">
            <span href="#" id="open-photo-carousel">
                <a href="#" class="edit photo-modal-button {% if not photos_count %}hidden{% endif %}">
                    <img src="{% static 'images/camera.svg' %}" alt="camera icon">
                    <span id="photo-count-indicator">{{ photos_count }}</span>
                </a>
            </span>
            <span href="#" class="edit photo-edit-form-button {% if not is_owner_viewing %}hidden{% endif %}" id="open-edit-photos">
                <img src="{% static 'images/edit-black.svg' %}" alt="edit icon">
                <span class="edit-photos-button-text {% if not is_owner_viewing or photos_count %}hidden{% endif %}">
                    Add Photos
                </span>
            </a>
        </div>
    </div>
    <div class="artist-name-box fixed-on-scroll" id="artist-scroll">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="heading-xl heading-light">{{ musician.stage_name }}</h1>
                <div class="action-btn">
                    <a id="open-send-artist-message-form" href="#" class="btn"><i class="far fa-comment-alt"></i><span class="mobile-hidden">Message</span></a>
                    <a href="#" class="btn"><i class="far fa-star"></i><span class="mobile-hidden">Follow</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-content">
    <div class="container">
        <div class="row js-container">
            <div class="col-md-4 js-container">
                <aside class="sidebar">
                    <div class="edit-box">
                        {% if musician.on_tour %}
                        <h3 class="bold-text heading-orange text-center">on tour</h3>
                        {% endif %}
                        <div class="edit{% if is_owner_viewing is False %} hidden{% endif %}"><img id="open-edit-user-profile" src="{% static 'images/edit.png' %}" alt=""></div>
                    </div>

                    <div class="artist-photo text-center">
                        {% cloudinary musician.image.name width=180 height=180 crop="thumb" class="rounded-circle" %}
                    </div>

                    <ul class="social-subscribe">
                        <li>
                            <a href="{{ musician.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
                            <span class="subscribers-count">36.3K</span>
                        </li>
                        <li>
                            <a href="{{ musician.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                            <span class="subscribers-count">{% if not musician.instagram_followers %}N/A{% else %}{{ musician.instagram_followers }}{% endif %}</span>
                        </li>
                        <li>
                            <a href="{{ musician.spotify }}" target="_blank"><i class="fab fa-spotify"></i></a>
                            <span class="subscribers-count">{% if not musician.spotify_followers %}N/A{% else %}{{ musician.spotify_followers }}{% endif %}</span>
                        </li>
                    </ul>

                    <div class="info text-center">
                        <p class="body-text">{{ musician.hometown }}, {{ musician.state }}</p>
                        <p class="body-text">{{ musician.genres|opus_replace:"search=, &replace= / " }}</p>
                        {% if musician.website %}<p class="body-text regular"><a href="{{ musician.website }}" target="_blank">{{ musician.website }}</a></p>{% endif %}
                    </div>

                    <div class="about"  id="temp-edit-bio-form">
                        <p class="body-text regular">{{ musician.bio_short }}</p>
                    </div>

                    <a href="#biography-long" id="see-full-bio-link" class="bold-text heading-secondary">See Full Bio</a>
                </aside>
            </div>
            <div class="col-md-8">

                <div class="slider-section{% if is_owner_viewing is False and videos_present is False %} hidden{% endif %}">
                    <div class="category edit-box">
                        <h2 class="subheading">Videos</h2>
                        <div class="edit {% if is_owner_viewing is False %} hidden{% endif %}"><img class="open-edit-videos" src="{% static 'images/edit.png' %}" alt="Edit videos."></div>
                    </div>
                    <div
                        id="video-carousel"
                        videosjson="{{ videos_json }}">
                    </div>
                </div>

                <div class="slider-section{% if is_owner_viewing is False and audios_present is False %} hidden{% endif %}">
                    <div class="category edit-box">
                        <h2 class="subheading">Audio</h2>
                        <div class="edit {% if is_owner_viewing is False %} hidden{% endif %}"><img class="open-edit-audios" src="{% static 'images/edit.png' %}" alt="Edit audio tracks."></div>
                    </div>
                    <div
                        id="audio-carousel"
                        audiosjson="{{ audios_json }}">
                    </div>
                </div>

                {# {% include "profile_shows.html" %} #}

                <div class="slider-section">

                    <div class="category edit-box">
                        <h2 id="biography-long" class="subheading">Biography</h2>
                        <a href="#" class="edit {% if is_owner_viewing is False %} hidden{% endif %}"><img id="open-edit-biography" src="{% static 'images/edit.png' %}" alt=""></a>
                    </div>

                    <p id="biography-long-content">{{ musician.bio }}</p>
                    <a href="#" class="bold-text heading-secondary">show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.initialState = {
        profile: {
            id: {{ musician.pk }},
            image_hero_id: {{ musician.image_hero_id|default_if_none:"null" }},
        },
        photos: {{ photos_json | safe }},
    };
</script>
{% endblock %}
