{% extends "site_base2.html" %}
{% load staticfiles %}
{% load repeatedblocks %}
{% load cloudinary %}
{% load booking_extras %}

{% block head_title %}{{ musician.stage_name }}{% endblock %}

{% block og %}
  {{ block.super }}
  <meta property="og:description" content="Artist: Awesome artist that puts on awesome shows" />
{% endblock og %}

{% block main %}

<user-edit-form
    id="user-edit-form"
    musicianId="{{ musician.pk|default_if_none:"" }}"
    stage_name="{{ musician.stage_name }}"
    image="{{ musician.image_url }}"
    facebook="{{ musician.facebook|default_if_none:"" }}"
    instagram="{{ musician.instagram|default_if_none:"" }}"
    spotify="{{ musician.spotify|default_if_none:"" }}"
    hometown="{{ musician.hometown|default_if_none:"" }}"
    genres="{{ musician.genres|default_if_none:"" }}"
    state="{{ musician.state|default_if_none:""}}"
    website="{{ musician.website|default_if_none:"" }}"
    bio_short="{{ musician.bio_short|default_if_none:"" }}"
></user-edit-form>
<div id="video-edit-form"></div>
<section class="artist-placeholder" style="background-image: url('{{ musician.image_hero.url }}');">
    <div class="container">
        <div class="edit-box">
            <a href="#" class="edit"><img src="{% static 'images/edit-white.png' %}" alt=""></a>
        </div>
    </div>
    <div class="artist-name-box fixed-on-scroll" id="artist-scroll">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="heading-xl heading-light">{{ musician.stage_name }}</h1>
                <div class="action-btn">
                    <a href="#" class="btn"><i class="far fa-comment-alt"></i><span class="mobile-hidden">Message</span></a>
                    <a href="#" class="btn"><i class="far fa-star"></i><span class="mobile-hidden">Follow</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-content">
    <div class="container">
        <div class="row js-container">
            <div class="col-md-4 js-container">
                <aside class="sidebar">
                    <div class="edit-box">
                        {% if musician.on_tour %}
                        <h3 class="bold-text heading-orange text-center">on tour</h3>
                        {% endif %}
                        <div class="edit"><img v-on:click="openEditBio" id="open-edit-user-profile" src="{% static 'images/edit.png' %}" alt=""></div>
                    </div>

                    <div class="artist-photo text-center">
                        {% cloudinary musician.image.name width=180 height=180 crop="thumb" class="rounded-circle" %}
                    </div>

                    <ul class="social-subscribe">
                        <li>
                            <a href="{{ musician.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
                            <span class="subscribers-count">36.3K</span>
                        </li>
                        <li>
                            <a href="{{ musician.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                            <span class="subscribers-count">{% if not musician.instagram_followers %}N/A{% else %}{{ musician.instagram_followers }}{% endif %}</span>
                        </li>
                        <li>
                            <a href="{{ musician.spotify }}" target="_blank"><i class="fab fa-spotify"></i></a>
                            <span class="subscribers-count">{% if not musician.spotify_followers %}N/A{% else %}{{ musician.spotify_followers }}{% endif %}</span>
                        </li>
                    </ul>

                    <div class="info text-center">
                        <p class="body-text">{{ musician.hometown }}, {{ musician.state }}</p>
                        <p class="body-text">{{ musician.genres|opus_replace:"search=, &replace= / " }}</p>
                        {% if musician.website %}<p class="body-text regular"><a href="{{ musician.website }}" target="_blank">{{ musician.website }}</a></p>{% endif %}
                    </div>

                    <div class="about">
                        <p class="body-text regular">{{ musician.bio_short }}</p>
                    </div>

                    <a href="#biography-long" id="see-full-bio-link" class="bold-text heading-secondary">See Full Bio</a>
                </aside>
            </div>
            <div class="col-md-8">

                {% if videos %}
                <div class="slider-section">
                    <div class="category edit-box">
                        <h2 class="subheading">Videos</h2>
                        <div class="edit"><img id="open-edit-videos" src="{% static 'images/edit.png' %}" alt="edit videos icon"></div>
                    </div>
                    <div
                        id="video-carousel"
                        videosourcesjson="{{ videos_json }}">
                    </div>
                </div>
                {% endif %}

                <div class="slider-section">
                    <div class="category edit-box">
                        <h2 class="subheading">Audio</h2>
                        <a href="#" class="edit"><img src="{% static 'images/edit.png' %}" alt=""></a>
                    </div>

                    <div class="slide-gallery">
                        <div class="slide">
                            {{ musician.musicianaudio_set.first.code | safe }}
                        </div>
                    </div>

                    <div class="slider-pagination">
                        <a href="#" class="slider-arrow prev"></a>
                        <ul class="pagination-list">
                            <li class="active"><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                        <a href="#" class="slider-arrow next"></a>
                    </div>
                </div>

                <div class="slider-section">
                    <div class="category edit-box">
                        <h2 class="subheading">Photos</h2>
                        <a href="#" class="edit"><img src="{% static 'images/edit.png' %}" alt=""></a>
                    </div>

                    <div class="slide-gallery">
                        <div class="slide">
                            <img src="{% static 'images/slider-placeholder3.jpg' %}" alt="">
                        </div>
                    </div>

                    <div class="slider-pagination">
                        <a href="#" class="slider-arrow prev"></a>
                        <ul class="pagination-list">
                            <li class="active"><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                        <a href="#" class="slider-arrow next"></a>
                    </div>
                </div>

                <div class="slider-section">
                    <div class="category edit-box">
                        <h2 class="subheading">{{ shows_word }}</h2>
                        <a href="#" class="edit"><img src="{% static 'images/edit.png' %}" alt=""></a>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-sm">
                            <!-- <caption align="top">Upcoming Shows</caption> -->
                            <thead>
                                <th colspan="2">Upcoming {{ shows_word }}</th>
                                <th colspan="2" class="booked">Booked on Opus <img src="{% static 'images/bookmark-copy.png' %}" alt=""></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4/6/18</td>
                                    <td class="show-name">Crawford Auditorium</td>
                                    <td>Grove City, PA</td>
                                    <td class="booked"></td>
                                </tr>
                                <tr>
                                    <td>4/7/18</td>
                                    <td class="show-name">Baby's All Right</td>
                                    <td>New York, NY</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4/8/18</td>
                                    <td class="show-name">Union Stage</td>
                                    <td>Washington, DC</td>
                                    <td class="booked"></td>
                                </tr>
                                <tr>
                                    <td>4/9/18</td>
                                    <td class="show-name">Sonia</td>
                                    <td>Cambridge, MA</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4/10/18</td>
                                    <td class="show-name">World Cafe Live</td>
                                    <td>Philadelphia, PA</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="bold-text heading-secondary table-link">Show more</a>

                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <th colspan="2">Past {{ shows_word }}</th>
                                <th colspan="2" class="booked">Booked on Opus <img src="images/bookmark-copy.png" alt=""></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3/8/18</td>
                                    <td class="show-name">Troubadour</td>
                                    <td>Los Angeles, CA</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>9/16/17</td>
                                    <td class="show-name">Open Arts &amp; Music Festival</td>
                                    <td>Glendale, CA</td>
                                    <td class="booked"></td>
                                </tr>
                                <tr>
                                    <td>8/3/17</td>
                                    <td class="show-name">The Irenic</td>
                                    <td>San Diege, CA</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8/2/17</td>
                                    <td class="show-name">The Rebel Lounge</td>
                                    <td>Phoenix, AZ</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8/1/17</td>
                                    <td class="show-name">Launchpad</td>
                                    <td>Albuquerque, NM</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="bold-text heading-secondary table-link">Show more</a>
                </div>

                <div class="slider-section">
                    <div class="category edit-box">
                        <h2 id="biography-long" class="subheading">Biography</h2>
                        <a href="#" class="edit"><img src="{% static 'images/edit-white.png' %}" alt=""></a>
                    </div>

                    <p id="biography-long-content">{{ musician.bio }}</p>
                    <a href="#" class="bold-text heading-secondary">show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
