{% extends "site_base2.html" %}
{% load staticfiles %}
{% load repeatedblocks %}
{% load cloudinary %}
{% load booking_extras %}

{% block head_title %}{{ musician.stage_name }}{% endblock %}

{% block og %}
  {{ block.super }}
  <meta property="og:description" content="Artist: Awesome artist that puts on awesome shows" />
  <script src="{% static 'js/jquery.profile.js' %}" defer></script>
{% endblock og %}

{% block main %}

<user-edit-form
    id="user-edit-form"
    musicianId="{{ musician.pk|default_if_none:"" }}"
    stage_name="{{ musician.stage_name }}"
    image="{{ musician.image_url }}"
    facebook="{{ musician.facebook|default_if_none:"" }}"
    instagram="{{ musician.instagram|default_if_none:"" }}"
    spotify="{{ musician.spotify|default_if_none:"" }}"
    hometown="{{ musician.hometown|default_if_none:"" }}"
    genres="{{ musician.genres|default_if_none:"" }}"
    state="{{ musician.state|default_if_none:""}}"
    website="{{ musician.website|default_if_none:"" }}"
    bio_short="{{ musician.bio_short|default_if_none:"" }}"
></user-edit-form>
<div id="video-edit-form"></div>
<div id="audio-edit-form"></div>
<div id="photo-edit-form"></div>
<div id="edit-bio-form"
    musicianId="{{ musician.pk|default_if_none:"" }}"
    bio="{{ musician.bio|default_if_none:"" }}"
></div>
<div id="send-artist-message-form"
    musicianId="{{ musician.pk }}"
></div>
<div id="photo-modal"></div>

<section class="artist-placeholder">
    <div id="cover-photo-wrapper">
        <div id="cover-photo" tabindex="0" style="background-image: url('{{ musician.image_hero.image.url }}');"></div>
    </div>
    <div class="container">
        <div class="photo-buttons">
            <div class="action-btn">
                <a id="open-send-artist-message-form" href="#" class="message-button">Message</a>
            </div>
            <span href="#" id="open-photo-carousel">
                <a href="#" class="edit photo-modal-button {% if not photos_count %}hidden{% endif %}">
                    <img src="{% static 'images/camera.svg' %}" alt="camera icon">
                    <span id="photo-count-indicator">{{ photos_count }}</span>
                </a>
            </span>
            <span href="#" class="edit photo-edit-form-button {% if not is_owner_viewing %}hidden{% endif %}" id="open-edit-photos">
                <img src="{% static 'images/edit-black.svg' %}" alt="edit icon">
                <span class="edit-photos-button-text {% if not is_owner_viewing or photos_count %}hidden{% endif %}">
                    Add Photos
                </span>
            </a>
        </div>
    </div>
</section>
<section class="main-content">
    <div class="container">
        <div class="row js-container">
            <div class="col-md-4 js-container">
                <aside id="artist-card">
                    <!-- TODO: loading image? -->
                </aside>
            </div>
            <div class="col-md-8">

                <div class="slider-section{% if is_owner_viewing is False and videos_present is False %} hidden{% endif %}">
                    <div class="category edit-box">
                        <h2 class="subheading">Videos</h2>
                        <div class="edit {% if is_owner_viewing is False %} hidden{% endif %}"><img class="open-edit-videos" src="{% static 'images/edit.png' %}" alt="Edit videos."></div>
                    </div>
                    <div
                        id="video-carousel"
                        videosjson="{{ videos_json }}">
                    </div>
                </div>

                <div class="slider-section{% if is_owner_viewing is False and audios_present is False %} hidden{% endif %}">
                    <div class="category edit-box">
                        <h2 class="subheading">Audio</h2>
                        <div class="edit {% if is_owner_viewing is False %} hidden{% endif %}"><img class="open-edit-audios" src="{% static 'images/edit.png' %}" alt="Edit audio tracks."></div>
                    </div>
                    <div
                        id="audio-carousel"
                        audiosjson="{{ audios_json }}">
                    </div>
                </div>

                {# {% include "profile_shows.html" %} #}

                <div class="slider-section">

                    <div class="category edit-box">
                        <h2 id="biography-long" class="subheading">Biography</h2>
                        <a href="#" class="edit {% if is_owner_viewing is False %} hidden{% endif %}"><img id="open-edit-biography" src="{% static 'images/edit.png' %}" alt=""></a>
                    </div>

                    <p id="biography-long-content">{{ musician.bio }}</p>
                    <a href="#" class="bold-text heading-secondary">show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.initialState = {
        profile: {
            id: {{ musician.pk }},
            stage_name: "{{ musician.stage_name }}",
            bio_short: "{{ musician.bio_short|default_if_none:"" }}",
            image_hero_id: {{ musician.image_hero_id|default_if_none:"null" }},
            soundcloud: {{ musician.soundcloud|default_if_none:"null" }},
            bandcamp: {{ musician.bandcamp|default_if_none:"null" }},
            spotify: {{ musician.spotify|default_if_none:"null" }},
            on_tour: {{ musician.on_tour|yesno:"true,false" }},
            image: "{{ musician.image_url|default_if_none:"" }}", // TODO: default image? also what is this.
            hometown: {{ musician.hometown|default_if_none:"null" }},
            state: {{ musician.state|default_if_none:"null" }},
            website: {{ musician.website|default_if_none:"null" }},
            instagram: {{ musician.instagram|default_if_none:"null" }},
        },
        photos: {{ photos_json | safe }},
    };
</script>
{% endblock %}
