{% extends "site_base2.html" %}
{% load i18n %}
{% load bootstrap %}
{% load sass_tags %}
{% load pinax_theme_bootstrap_tags %}

{% block head_title %}Settings{% endblock %}

{% block assets %}
{{ block.super }}
<link rel="stylesheet" href="{% sass_src 'scss/home/bootstrap.scss' %}">
<link rel="stylesheet" href="{% sass_src 'scss/home/main.scss' %}">
{% endblock assets %}

{% block main %}
<div class="container">
    <div class="row justify-content-around mt-5 mb-5">
        <div class="col-md-8">
            <form method="POST" action="">
                <h2>{% trans "Change password" %}</h2>

                {% for message in messages %}
                    <div class="alert {% get_message_tags message %}" style="color: #00b9d1; background-color: transparent; border: 1px solid #000;">
                        <button type="button" class="close" style="line-height: .7; "data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                <fieldset>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>

            <hr />

            <h2>Having trouble?</h2>

            <p class="text-center">We can help! <a href="mailto:info@opuslive.io">Let us know!</a></p>

        </div>
    </div>
</div>
{% endblock main %}
