#footer {
	background-color: $white;
	font-size: 12px;

	/* Overwrite bootstrap */
	a:hover {
		text-decoration: none;
		color: $secondary-blue;
	}

	ul {
		padding: 0;
		list-style: none;
		margin-bottom: 0;
	}

	.footer-container {
		max-width: 960px;
		margin: 0 auto;
		padding: 24px 15px 34px;
		display: flex;
		flex-wrap: wrap;
	}

	.footer-nav-link, .footer-info-link {
		margin-right: 24px;
	}

	.footer-social-link {
		margin-right: 16px;
	}

	.footer-list {
		display: flex;
	}

	.full-row {
		width: 100%;
	}

	.footer-nav-links {
		font-size: 14px;
		font-weight: 500;
	}

	.footer-copyright, .footer-info-links, .footer-social-links {
		margin-top: 22px;
	}

	.footer-copyright {
		height: 16px;
		font-size: 12px;
		color: $light-black;
	}

	.follow-us-text {
		display: none; /* Only displayed on largest size */
	}

	@media (min-width: 960px) {
		.footer-info-links {
			margin-left: auto; /* Push to the far right */
		}

		.follow-us-text {
			display: block;
		}
	}

	@media (min-width: 0) and (max-width: 600px) {
		.footer-container {
			padding-bottom: 32px;
		}

		.footer-copyright {
			width: 100%;
		}
	}
}
