{% extends "home/base.html" %}

{% load staticfiles %}
{% block head_title %}Home{% endblock %}

{% block main %}
<div class="tall-tabs d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 p-0">
                <a href="/artists/#short-tabs" class="tab-link"><span>Artists</span>Learn more</a>
            </div>
            <div class="col-sm-6 p-0">
                <a href="/venues/#short-tabs" class="tab-link"><span>Venues</span>Learn more</a>
            </div>
        </div>
    </div>
</div>
<div class="short-tabs d-sm-block d-md-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <a href="/artists/#why" class="tab-link"><span>Artists</span>Learn more</a>
            </div>
            <div class="col p-0">
                <a href="/venues/#why" class="tab-link"><span>Venues</span>Learn more</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
