{% load staticfiles %}

<style>
    @font-face {
        font-family: 'Modern Era';
        src: url("{% static 'fonts/modern-era/ModernEra-Regular.woff2' %}") format('woff2'),
            url("{% static 'fonts/modern-era/ModernEra-Regular.woff' %}") format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Modern Era';
        src: url("{% static 'fonts/modern-era/ModernEra-Medium.woff2' %}") format('woff2'),
            url("{% static 'fonts/modern-era/ModernEra-Medium.woff' %}") format('woff');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Modern Era';
        src: url("{% static 'fonts/modern-era/ModernEra-Medium.woff2' %}") format('woff2'),
            url("{% static 'fonts/modern-era/ModernEra-Medium.woff' %}") format('woff');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'GT Zirkon';
        src: url("{% static 'fonts/gt-zirkon/GT-Zirkon-Light.woff2' %}") format('woff2'),
            url("{% static 'fonts/gt-zirkon/GT-Zirkon-Light.woff' %}") format('woff');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'GT Zirkon';
        src: url("{% static 'fonts/gt-zirkon/GT-Zirkon-Book.woff2' %}") format('woff2'),
            url("{% static 'fonts/gt-zirkon/GT-Zirkon-Book.woff' %}") format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'GT Zirkon';
        src: url("{% static 'fonts/gt-zirkon/GT-Zirkon-Medium.woff2' %}") format('woff2'),
            url("{% static 'fonts/gt-zirkon/GT-Zirkon-Medium.woff' %}") format('woff');
        font-weight: 500;
        font-style: normal;
    }
</style>