{% load staticfiles %}

<footer id="footer">
    <div class="footer-container">
        <ul class="footer-list footer-nav-links full-row">
            <li><a class="footer-nav-link" href="/">Home</a></li>
            {% if not request.user.is_authenticated %}
            <li><a class="footer-nav-link" href="/signup">Sign up</a></li>
            <li><a class="footer-nav-link" href="/account/login">Log in</a></li>
            {% endif %}
        </ul>

        <ul class="footer-list footer-social-links">
            <li><a target="_blank" class="footer-social-link" href="https://www.facebook.com/opuslivemusic/"><img src="{% static 'images/facebook-icon.svg' %}"></a></li>
            <li><a target="_blank" class="footer-social-link" href="https://www.instagram.com/opuslive/"><img src="{% static 'images/instagram-icon.svg' %}"></a></li>
            <li class="follow-us-text">Follow us for updates</li>
        </ul>

        <ul class="footer-list footer-info-links">
            <li><a class="footer-info-link" href="/terms">Terms</a></li>
            <li><a class="footer-info-link" href="/privacy">Privacy</a></li>
            <li><a class="footer-info-link" href="mailto:info@opuslive.io">Contact</a></li>
        </ul>

        <ul class="footer-list footer-copyright">
            <li class="regular copyright">&copy; {% now "Y" %} Opus Apps Inc.</p></li>
        </ul>
    </div>
</footer>
