{% load i18n %}
{% load staticfiles %}
<!-- TODO: pass navigation items as an array with labels/urls -->
<!-- TODO: only pass in logout props if user is authenticated? -->
<header
    id="main-navigation-bar"
    image="{{ musician.image_url }}"
    artist="{{ musician.stage_name }}"
    homeUrl="{{ home_url }}"
    profileUrl=""
    venuesUrl=""
    bookingsUrl=""
    dashboardUrl="{% url 'musician_dash' %}"
    settingsUrl="{% url 'musician_settings' %}"
    signoutUrl="{% url 'account_logout' %}"
    signoutLabel="{% trans 'Sign Out' %}"
    csrfToken="{% csrf_token %}"
    authed="{{ request.user.is_authenticated }}"
></header>