{% load i18n %}
{% load staticfiles %}
<header id="header">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <button type="button" class="menu-opener burger">
                <i class="fas fa-bars"></i>
            </button>

            <a href="{{ home_url }}" class="logo"><img src="{% static 'images/logo.png' %}" alt="Opus"></a>
        </div>
    </div>
</header>
<div class="sidebar-menu">
    <button type="button" class="menu-opener close"></button>

    <span class="artist heading-xxl heading-light">Artist</span>
    <div class="sidebar-nav">
        <a href="#">browse venues</a>
        <a href="#">browse artists</a>
        <hr>
        <a href="{% url 'musician_dash' %}">Application History</a>
        <a href="{% url 'musician_settings' %}">Account Settings</a>

        <form method="POST" action="{% url "account_logout" %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
        </form>

    </div>
</div>
