{% load staticfiles %}
{% load sass_tags %}
{% load repeatedblocks %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% repeated_block head_title_base %}Opus | {% block head_title %}{% endblock %}{% endblock %}</title>
    <link rel="shortcut icon" sizes="32x32" type="image/ico" href="{% static 'images/favicon.ico' %}" />

    {% block og %}
    <meta property="og:title" content="{% repeat head_title_base %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absolute_url }}" />
    {% endblock og %}

    {% block assets %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <script src="{% static 'js/load-image.all.min.js' %}" defer></script>
    {% endblock %}

    {% if tsettings.ENABLE_HOTJAR %}
    <!-- Hotjar Tracking Code for https://opuslive.io -->
    <script>
    (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:1111237,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    {% endif %}

</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>
        <main id="main">
            {% block main %}{% endblock %}
        </main>
    </div>
    {% block footer_scripts %}{% endblock %}
</body>
<script src="{{ STATIC_JS_APP_BASE_URL }}{{ STATIC_JS_APP_BUNDLE }}" defer></script>
<script>
    window.CONFIGS = {
        IMAGES_URL: "{% static 'images' %}",
        REACT_PAGE_NAME: "{{ react_page_name }}",
    }
</script>
</html>
