{% extends "admin/base_site.html" %}

{% block title %}Send Booking Agent Welcome Email{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>&nbsp;&rsaquo;&nbsp;Send Booking Agent Welcome Email
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Send Booking Agent Welcome Email</h1>

    <form method="POST">
        {% csrf_token %}
        {{ agent_form }}
        <input type="submit" value="Submit" />
    </form>

</div>
{% endblock %}
